title: Jean-Jérôme Lévy, consultant DevOps freelance
description: > # this means to ignore newlines until "baseurl:"
  Je suis aussi un consultant freelance en DevOps et Cloud.
permalink: ':title/'
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.scalastic.io" # the base hostname & protocol for your site, e.g. http://example.com
site-twitter: #if your site has a twitter account, enter it here

# Company Settings
company: Scalastic
company-img: scalastic.png
about-company: J'officie au sein de la société Scalastic.

# Author Settings
author: Jean-Jérôme Lévy # add your name
author-img: jean-jerome-levy.jpg # add your photo
about-author: Bonjour,<br> Je suis un consultant freelance DevOps spécialisé dans le CI/CD, Docker/Kubernetes et le Cloud. # add description
social-github: jeanjerome # add your Github handle
social-linkedin: jean-jerome-levy # add your Linkedin handle
social-email: contact@scalastic.io # add your Email address

# Disqus
discus-identifier: scalastic # add your discus identifier

# Tracker
analytics: # Google Analytics

# Build Settings
markdown: kramdown
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji
  - premonition

paginate: 4
paginate_path: "/page/:num"
excerpt_separator: <!--more-->

sass:
  sass_dir: _sass
  style: compressed

exclude: ["node_modules", "gulpfile.js", "package.json", "yarn.lock", "archive-posts"]
