title: Scalastic DevOps
permalink: ':title/'
baseurl: "" # the subpath of your site, e.g. /blog
url: https://scalastic.io" # the base hostname & protocol for your site, e.g. http://example.com
logo: /assets/img/logo-scalastic.png

# Company Settings
company: Scalastic
company-img: scalastic.png

# Author Settings
author: Jean-Jerome Levy # add your name
author-img: jean-jerome-levy.jpg # add your photo
social-github: jeanjerome # add your Github handle
social-linkedin: jean-jerome-levy # add your Linkedin handle
social-email: contact@scalastic.io # add your Email address

# Social SEO
social:
  name: Jean-Jerome Levy
  links:
    - https://www.linkedin.com/in/jean-jerome-levy
    - https://github.com/jeanjerome
    - https://github.com/scalastic

webmaster_verifications:
  google: kt9V77LN_e6lPj1sb3RTOiZDGqNyfoHBchbh1oDgftQ
  yandex: 586e50fdf1e71514

analytics: UA-63884203-1

# Disqus
discus-identifier: scalastic # add your discus identifier

# Build Settings
markdown: kramdown
kramdown:
  syntax_highlighter: rouge
highlighter: rouge

plugins:
  - jekyll-polyglot
  - jekyll-seo-tag
  - jekyll-paginate
  - jemoji
  - premonition
  - jekyll-last-modified-at
  - jekyll-figure

# Activate page redirection when change
redirects: yes

paginate: 4
paginate_path: "/page/:num"
page_excerpts: true
timezone: Europe/Paris
last-modified-at:
    date-format: '%d-%b-%y'

sass:
  sass_dir: _sass
  sourcemap: never
  style: compressed

exclude: ["node_modules", "gulpfile.js", "package.json", "yarn.lock", "archive-posts"]

#Polyglot
languages: ["fr", "en"]
default_lang: "fr"
exclude_from_localization: ["assets", "css", "fonts", "img"]
parallel_localization: true
