title: Scalastic DevOps
permalink: ':title/'
baseurl:
url: https://scalastic.io
logo: /assets/img/logo-scalastic.png

# Company Settings
company: Scalastic
company-img: scalastic.png

# Author Settings
author: Jean-Jerome Levy # add your name
author-img: jean-jerome-levy.jpg # add your photo
social-github: jeanjerome # add your Github handle
social-linkedin: jean-jerome-levy # add your Linkedin handle
social-email: contact@scalastic.io # add your Email address

# Social SEO
social:
  name: Jean-Jerome Levy
  links:
    - https://www.linkedin.com/in/jean-jerome-levy
    - https://github.com/jeanjerome
    - https://github.com/scalastic

webmaster_verifications:
  google: kt9V77LN_e6lPj1sb3RTOiZDGqNyfoHBchbh1oDgftQ
  yandex: 586e50fdf1e71514

analytics: UA-63884203-1

# Disqus
discus-identifier: scalastic # add your discus identifier

# Build Settings
markdown: kramdown
kramdown:
  syntax_highlighter: rouge
highlighter: rouge

plugins:
  - jekyll-paginate
  - jemoji
  - premonition
  - jekyll-last-modified-at
  - jekyll-polyglot
  - jekyll_picture_tag

#Jekyll build
exclude: ["node_modules", "gulpfile.js", "package.json", "yarn.lock", "archive-posts"]

# Activate page redirection when change
redirects: yes

#Paginate
paginate: 6
paginate_path: "/page/:num"
page_excerpts: true
timezone: Europe/Paris
last-modified-at:
    date-format: '%d-%b-%y'

sass:
  sass_dir: _sass
  sourcemap: never
  style: compressed

#Picture Tag
picture:
  output: /
  nomarkdown: false
  suppress_warnings: true
  #disabled: development

#Polyglot
default_lang: "fr"
languages: ["fr", "en"]
exclude_from_localization: ["generated", "assets", "css", "fonts", "img"]
parallel_localization: false
