<div class="page-author">
      <div class="author-pres">
        <div class="author-img">
            {% picture thumbnail-author {{ "/assets/img/" | prepend: site.baseurl | append : site.author-img}} center 1:1 --alt {{site.author}} --class author-img --width 80 --height 80 %}
        </div>
        <div class="author-info">
            <p class="intro">{{ site.data.i18n.written-by }}</p>
            <a href="{{ '/jean-jerome-levy/' | prepend: site.baseurl }}">
            <h2 class="name">{{ site.data.i18n.author-name }}</h2>
            </a>
            <p class="title">{{ site.data.i18n.author-job }}</p>
        </div>
      </div>
    <div class="author-desc">
        <p>{{ site.data.i18n.author-desc }}</p>
    </div>
    <div class="available-banner">
        <a href="{{ '/jean-jerome-levy/' | prepend: site.baseurl }}">
            <strong>{{ site.data.i18n.author-goto-action }}</strong>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="28" fill="white">
                <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM297 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L120 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l214.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L409 239c9.4 9.4 9.4 24.6 0 33.9L297 385z"/>
            </svg>
        </a>
    </div> 
</div>