<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="{{ site.active_lang }}">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.i18n.site-description }}{% endif %} | {{ site.title }}</title>
  {% seo title=false %}

  <!-- I18N Header -->
  {% I18n_Headers %}
  <!-- End I18N Header -->

  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.i18n.site-description }}{% endif %}">
  {% if page.last_modified_at %}
  <meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
  {% endif %}
  {% if page.img %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}">
  {% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/logo-scalastic.png">
  {% endif %}
  {% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta property="article:section" content="{{ category }}">
  {% endfor %}
  {% endif %}
  {% if page.tags %}
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
  {% endif %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="icon" type="image/ico" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon-precomposed" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/img/favicon/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">

  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ "/assets/fonts/fontawesome/css/all.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
