<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "url": "{{ site.url }}{{ site.baseurl }}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}{{ page.url | replace:'index.html','' }}",
  "headline": "{{ page.title }}",
  "description": "{{ page.description }}",
  "mainEntityOfPage":{
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ site.baseurl }}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}{{ page.url | replace:'index.html','' }}"
  },
  "image": [
  {% if page.img %}
    "{{ page.img | prepend: "/assets/img/" | prepend: site.baseurl | prepend: site.url }}"
  {% else %}
    "{{ site.image | prepend: site.baseurl | prepend: site.url }}"
  {% endif %}
  ],
  "datePublished": "{{page.date | date_to_xmlschema }}",
  "dateModified": "{% if page.modified %}{{page.modified}}{% else %}{{ page.last_modified_at | date_to_xmlschema }}{% endif %}",
  "keywords": [ {{ page.tags | strip | join: ", " }} ],
  "isAccessibleForFree": "True",
  "isPartOf": {
    "@type": ["CreativeWork", "Product", "WebSite"],
    "name": "Scalastic",
    "productID": "scalastic.io"
  },
  "inLanguage": "{% if site.active_lang == site.default_lang %}fr-FR{% else %}en-US{% endif %}",
  "license": "https://creativecommons.org/licenses/by-nc-nd/4.0/",
  "author": {
    "@type": "Person",
    "name": "Jean-Jerome Levy",
    "description": "{{ site.data.i18n.author-desc }}",
    "jobTitle": "{{ site.data.i18n.author-job }}",
    "sameAs":[
      "https://www.linkedin.com/in/jean-jerome-levy",
      "https://github.com/jeanjerome",
      "https://github.com/scalastic",
      "https://hub.docker.com/u/jeanjerome"
    ]
  },
  "publisher": {
    "@type": "Organization",
    "name": "Scalastic",
    "description": "{{ site.data.i18n.company-desc }}",
    "url": "{{ site.url }}",
    "sameAs": [ "https://github.com/scalastic" ],
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.baseurl }}{{ site.logo }}"
    }
  }
}
</script>