/* Block code, highlight */

$background: $body-color;

.highlighter-rouge {
    color: whitesmoke;
    font-weight: 400;
    border: 1px solid $background;
    border-radius: 3px;
    padding: 0.1rem 0.5rem;
}

.code-container {
    position: relative;
    min-width: 90px;
    max-width: 970px;
    padding: 30px 30px;
    height: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
}

.code-window {
    background: $background;
    border: none;
    padding-bottom: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
        transform: translate(0px, -4px);
        box-shadow: 0 10px 50px rgb(122, 121, 121);
      }
}

.window-controls {
    position: relative;
    top: 9px;
    margin-left: 14px;
    margin-right: 0px;
    z-index: 2;
    text-align: initial;
}

figure.highlight {
    position: relative;


    margin-block-start: 0;
    margin-inline-start: 0px;

    min-width: inherit;
    z-index: 1;

    pre {
        border-radius: 5px;
        margin: 22.5px 15px;
        padding: 8px 12px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        code {
            background: $background;
            display: block;
            line-height: 1.2;
            text-rendering: optimizeSpeed;
            flex: 0 0 auto;
            /* Use a counter to generate the line numbers */
            counter-reset: code;
            
            /* Display language name */
            &[data-lang]::before {
                font-family: 'metropolisbold',sans-serif;
                color: #f8f8f2;
                content: "</>" " " attr(data-lang);
                position: absolute;
                margin: 0px;
                top: -37px;
                left: -9px;
                width: 100%;
                text-align: center;
                &[data-lang="zsh"] {
                  content: "%_ Zsh";
                }
                &[data-lang="bash"] {
                  content: "$_ Bash";
                }
            }

            div {
            /* Increment the counter for each div */
            counter-increment: code;

            &:before {
                content: counter(code);

                /* Hacky, but necessary. Without these lines, single-digit line 
                /* numbers will not line up with double-digit ones. Change width
                /* to suit your font. */
                width: 1.8em;
                text-align: right;

                /* Add a nice border */
                display: inline-block;
                padding-right: 0.25em;
                border-right: 1px solid gray;

                /* For older browsers and Safari */
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
        }
    }
}

.highlight {
  background-color: $background;

  .hll {
    background-color: #49483e;
  }
  .c {
    color: #a8a38d;
  }
  .err {
    color: #960050;
    background-color: #1e0010;
  }
  .k {
    color: #66d9ef;
  }
  .l {
    color: #ae81ff;
  }
  .n {
    color: #f8f8f2;
  }
  .o {
    color: #f92672;
  }
  .p {
    color: #f8f8f2;
  }
  .cm, .cp, .c1, .cs {
    color: #a8a38d;
  }
  .ge {
    font-style: italic;
  }
  .gs {
    font-weight: bold;
  }
  .kc, .kd {
    color: #66d9ef;
  }
  .kn {
    color: #f92672;
  }
  .kp, .kr, .kt {
    color: #66d9ef;
  }
  .ld {
    color: #e6db74;
  }
  .m {
    color: #ae81ff;
  }
  .s {
    color: #e6db74;
  }
  .na {
    color: #a6e22e;
  }
  .nb {
    color: #f8f8f2;
  }
  .nc {
    color: #a6e22e;
  }
  .no {
    color: #66d9ef;
  }
  .nd {
    color: #a6e22e;
  }
  .ni {
    color: #f8f8f2;
  }
  .ne, .nf {
    color: #a6e22e;
  }
  .nl, .nn {
    color: #f8f8f2;
  }
  .nx {
    color: #a6e22e;
  }
  .py {
    color: #f8f8f2;
  }
  .nt {
    color: #f92672;
  }
  .nv {
    color: #f8f8f2;
  }
  .ow {
    color: #f92672;
  }
  .w {
    color: #f8f8f2;
  }
  .mf, .mh, .mi, .mo {
    color: #ae81ff;
  }
  .sb, .sc, .sd, .s2 {
    color: #e6db74;
  }
  .se {
    color: #ae81ff;
  }
  .sh, .si, .sx, .sr, .s1, .ss {
    color: #e6db74;
  }
  .bp, .vc, .vg, .vi {
    color: #f8f8f2;
  }
  .il {
    color: #ae81ff;
  }
  .gh {}
  .gu {
    color: #75715e;
  }
  .gd {
    color: #f92672;
  }
  .gi {
    color: #a6e22e;
  }
}

code{
  background-color: $background;
  color: whitesmoke;}
pre {
  background-color: $background;
  color: whitesmoke;
}
