/* Block code, highlight */

$background: var(--code-background);

.highlighter-rouge {
    color: var(--code-color);
    font-weight: 400;
    border: 1px solid var(--code-background);
    border-radius: 3px;
    padding: 0.1rem 0.5rem;
    word-break: break-all;
}

.code-container {
    position: relative;
    min-width: 90px;
    max-width: 970px;
    padding: 30px 30px;
    height: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
}

.code-window {
    min-width: 250px;
    background: var(--code-background);
    border: none;
    padding-bottom: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
        transform: translate(0px, -4px);
        box-shadow: 0 10px 50px rgba(var(--shadow-color-flashy), .2);
      }
}

.window-controls {
    position: relative;
    top: 9px;
    margin-left: 14px;
    margin-right: 0px;
    z-index: 2;
    text-align: initial;
}

figure.highlight {
    position: relative;


    margin-block-start: 0;
    margin-inline-start: 0px;

    min-width: inherit;
    z-index: 1;

    pre {
        border-radius: 5px;
        margin: 22.5px 15px;
        padding: 8px 12px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        code {
            background: var(--code-background);
            display: block;
            line-height: 1.2;
            text-rendering: optimizeSpeed;
            flex: 0 0 auto;
            /* Use a counter to generate the line numbers */
            counter-reset: code;
            
            /* Display language name */
            &[data-lang]::before {
                font-family: 'metropolisbold',sans-serif;
                color: #f8f8f2;
                content: "</>" " " attr(data-lang);
                position: absolute;
                margin: 0px;
                top: -37px;
                left: -9px;
                width: 100%;
                text-align: center;
                &[data-lang="zsh"] {
                  content: "%_ Zsh";
                }
                &[data-lang="bash"] {
                  content: "$_ Bash";
                }
            }

            div {
            /* Increment the counter for each div */
            counter-increment: code;

            &:before {
                content: counter(code);

                /* Hacky, but necessary. Without these lines, single-digit line 
                /* numbers will not line up with double-digit ones. Change width
                /* to suit your font. */
                width: 1.8em;
                text-align: right;

                /* Add a nice border */
                display: inline-block;
                padding-right: 0.25em;
                border-right: 1px solid gray;

                /* For older browsers and Safari */
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
        }
    }
}

.highlight {
  background-color: var(--code-background);
  max-height: 550px; /* Change to your desired max height */
  overflow-y: scroll;
  margin-right: 10px;

  /* Specialized Style : see rougify style */
  .gh {
    color: #999999;
  }
  .sr {
    color: #f6aa11;
  }
  .go {
    color: #888888;
  }
  .gp {
    color: #555555;
  }
  .gs {
  }
  .gu {
    color: #aaaaaa;
  }
  .nb {
    color: #f6aa11;
  }
  .cm {
    color: #75715e;
  }
  .cp {
    color: #75715e;
  }
  .c1 {
    color: #75715e;
  }
  .cs {
    color: #75715e;
  }
  .c, .ch, .cd, .cpf {
    color: #c5c5c5;
  }
  .err {
    color: #960050;
  }
  .gr {
    color: #960050;
  }
  .gt {
    color: #960050;
  }
  .gd {
    color: #49483e;
  }
  .gi {
    color: #49483e;
  }
  .ge {
    color: #49483e;
  }
  .kc {
    color: #66d9ef;
  }
  .kd {
    color: #66d9ef;
  }
  .kr {
    color: #66d9ef;
  }
  .no {
    color: #66d9ef;
  }
  .kt {
    color: #66d9ef;
  }
  .mf {
    color: #ae81ff;
  }
  .mh {
    color: #ae81ff;
  }
  .il {
    color: #ae81ff;
  }
  .mi {
    color: #ae81ff;
  }
  .mo {
    color: #ae81ff;
  }
  .m, .mb, .mx {
    color: #ae81ff;
  }
  .sc {
    color: #ae81ff;
  }
  .se {
    color: #ae81ff;
  }
  .ss {
    color: #ae81ff;
  }
  .sd {
    color: #e6db74;
  }
  .s2 {
    color: #e6db74;
  }
  .sb {
    color: #e6db74;
  }
  .sh {
    color: #e6db74;
  }
  .si {
    color: #e6db74;
  }
  .sx {
    color: #e6db74;
  }
  .s1 {
    color: #e6db74;
  }
  .s, .sa, .dl {
    color: #e6db74;
  }
  .na {
    color: #a6e22e;
  }
  .nc {
    color: #a6e22e;
  }
  .nd {
    color: #a6e22e;
  }
  .ne {
    color: #a6e22e;
  }
  .nf, .fm {
    color: #a6e22e;
  }
  .vc {
    color: #ffffff;
  }
  .nn {
    color: #ffffff;
  }
  .nl {
    color: #ffffff;
  }
  .ni {
    color: #ffffff;
  }
  .bp {
    color: #ffffff;
  }
  .vg {
    color: #ffffff;
  }
  .vi {
    color: #ffffff;
  }
  .nv, .vm {
    color: #ffffff;
  }
  .w {
    color: #ffffff;
  }
  .n, .py, .nx {
    color: #ffffff;
  }
  .ow {
    color: #79aaff;
  }
  .nt {
    color: #79aaff;
  }
  .k, .kv {
    color: #79aaff;
  }
  .kn {
    color: #79aaff;
  }
  .kp {
    color: #79aaff;
  }
  .o {
    color: #79aaff;
  }
  /* End Of Specialized Style : see rougify style */

}

code{
  background-color: var(--code-background);
  color: var(--code-color);}
pre {
  background-color: var(--code-background);
  color: var(--code-color);
}
