/* ------- Very large desktops ------- */
@media only screen and (min-width: 1680px) {

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .sidebar {
    flex: 0 0 250px;
  }

  .content-box {
    flex: 0 0 1250px; 
  }

  .right-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 400px; 
    position: fixed;
    max-width: 400px;
    left: 1250px;

    .right-toc {
      display: grid;
    }    
    
  }

}
/* ------- Large desktops ------- */
@media only screen and (min-width: 1360px) and (max-width: 1679px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .sidebar {
    flex: 0 0 250px;
  }

  .content-box {
    flex: 0 0 1250px; 
  }

  .right-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 400px; 
    position: fixed;
    max-width: 400px;
    left: 1250px;
    
    .share-links {
      display: flex;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1120px) and (max-width: 1359px) {
  .wrapper {
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .post-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  img.page-image {
    aspect-ratio: 16/9;
  }
}

/* Tablets */
@media only screen and (min-width: 770px) and (max-width: 1119px) {

  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: var(--body-background);
    box-shadow: 0 1px 1px 0 rgba(var(--shadow-color-flashy), 0.15);
    input.toggle[type="radio"]:checked + label {
      cursor: default;
      color: var(--body-background);
      background-color: var(--body-color);
      transition: color 200ms;
      padding: 1px;
    }
    footer {
      margin-bottom: 10px;
    }
  }
  .post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .post {
      width: 95%;
      max-width: 100%;
      margin: 2%;
      flex-direction: column;
      .post-thumbnail {
        width: 100%;
      }
      .post-content {
        width: 100%;
        .post-title {
          margin: 0 0 5px;
          text-align: center;
          line-height: 1em;
          a {
            font-size: 21px;
          }
        }
      }
    }
  }
  .about {
    text-align: center;
    max-width: 480px;
    margin: 10px auto auto;
    img {
      width: 100px;
    }
  }

  .content-box {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .contact-title, .copyright, .nonmobile, .dark-mode-switcher {
    display: none;
  }

  img.page-image {
    aspect-ratio: 16/9;
  }

  .article-navigation {
    flex-wrap: wrap;
    margin-bottom: 25px;
    .prev, .next {
      width: 100%;
    }
    .next {
      text-align: left;
    }
  }
}

/* Phone */
@media only screen and (max-width: 769px) {

  h1, h2, h3, h4, h5, h6, h7 {
    text-align: center;
  }
  /* TOC */
  .markdown-toc {
    padding: 10px 0px;
    li {
      padding: 5px 0px;
    }
  }
  .page-content p, li {
    word-break: break-word;
    hyphens: auto;
    hyphenate-character: '-';
  }
  .article {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  .article-page {
    a {
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }

    table {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iOS */
      border-collapse: collapse; /* Pour une meilleure présentation */
    }
  }

  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: var(--body-background);
    box-shadow: 0 1px 1px 0 rgba(var(--shadow-color-flashy), 0.15);

    input.toggle[type="radio"]:checked + label {
      cursor: default;
      color: var(--body-background);
      background-color: var(--body-color);
      transition: color 200ms;
      padding: 1px;
    }

    footer {
      margin-bottom: 10px;
    }
  }

  img.page-image {
    aspect-ratio: 4/3;
  }

  .post-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;
    .post-thumbnail {
      width: 100%;
    }
    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        text-align: center;
        line-height: 1em;
        a {
          font-size: 21px;
        }
      }
    }
  }
  .code-container {
      position: relative;
      min-width: 90px;
      max-width: 600px;
      padding: 20px 5px;
  }
  .highlight {
    margin-inline-start: 5px;
    margin-inline-end: 5px;
  }
  .about {
    text-align: center;
    max-width: 480px;
    margin: 10px auto auto;
    img {
      width: 100px;
    }
  }

  .content-box {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .contact-title, .copyright, .nonmobile, .author-desc, .dark-mode-switcher {
    display: none;
  }
  .page-recomm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 4px;
    justify-content: space-around;
    .recomm {
      flex-basis: 49%;
    }
  }

  .search-recomm .recomm {
    flex-basis: 49%;
  }

  .article-navigation {
    flex-wrap: wrap;
    margin-bottom: 25px;
    .prev, .next {
      width: 100%;
    }
    .next {
      text-align: left;
    }
  }

  .leaflet-control-zoom {
    display: none;
  }
}