

/* Medium Devices, Desktops */
@media only screen and (min-width : 881) {
  .post {
    width: 48%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }
}

/* Tablets */
@media only screen and (max-width : 880px) and (min-width : 551px) {
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #fbfbfb;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);

    input.toggle[type="radio"]:checked + label {
      cursor: default;
      color: #fbfbfb;
      background-color: #515151;
      transition: color 200ms;
      padding: 1px;
    }

    footer {
      margin-bottom: 10px;
    }
  }
  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }
  .about {
    text-align: center;
    max-width: 480px;
    margin: 10px auto auto;
    img {
      width: 100px;
    }
  }

  .content-box {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .contact-title, .copyright, .nonmobile {
    display: none;
  }

  .article-navigation {
    flex-wrap: wrap;
    margin-bottom: 25px;
    .prev, .next {
      width: 100%;
    }
    .next {
      text-align: left;
    }
  }
}

/* Phone */
@media only screen and (max-width : 550px) {
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #fbfbfb;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);

    input.toggle[type="radio"]:checked + label {
      cursor: default;
      color: #fbfbfb;
      background-color: #515151;
      transition: color 200ms;
      padding: 1px;
    }

    footer {
      margin-bottom: 10px;
    }
  }
  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }
  .about {
    text-align: center;
    max-width: 480px;
    margin: 10px auto auto;
    img {
      width: 100px;
    }
  }

  .content-box {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .contact-title, .copyright, .nonmobile, .author-desc {
    display: none;
  }
  .page-recomm {
    grid-template-columns: 1fr 1fr;
  }
  .article-navigation {
    flex-wrap: wrap;
    margin-bottom: 25px;
    .prev, .next {
      width: 100%;
    }
    .next {
      text-align: left;
    }
  }

}
