---
# Front matter comment to ensure Jekyll properly reads file.
sitemap:
  exclude: "yes"
---

// Imports
//@import 'variables';
@import "normalize";
@import "highlight";

// Variables
:root {
  --body-background: #fbfbfb;
  --body-color: #515151;
  --inset-background: #e0e0e0;
  --emphasis-color: #333030;
  --discreet-color: #b4b4b4;
  --shadow-color-flashy: 10, 16, 34;
  --shadow-color: #0a1022;
  --link-color: #38c341;
  --code-background: #747474;
  --code-color: #fbfbfb;
}
html[data-mode="dark"] {
  --body-background: #515151;
  --body-color: #fbfbfb;
  --inset-background: #747474;
  --emphasis-color: #a0a0a0;
  --discreet-color: #b4b4b4;
  --shadow-color-flashy: 245, 239, 245;
  --shadow-color: #4974f6;
  --link-color: #ae81ff; /* #3e8bff; */
  --code-background: #747474;
  --code-color: #fbfbfb;
}

// Reset
*,
*::after,
*::before {
  box-sizing: border-box;
}

// HTML
html {
  line-height: 1.5;
}

// Body
body {
  color: var(--body-color);
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-size: 19px;
  font-weight: 400;
  background-color: var(--body-background);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Clearfix
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

// Headings
h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
}

h1.img {
  fill: var(--body-color);
  stroke: var(--body-color);
}

h1.logo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0px;
}

// Images
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  .page-image {
    max-width: 100%;
    height: auto;
  }
}

img + em {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

#map img {
  border-radius: 0px;
}

#map {
  width: 100%;
  height: 600px;
}

// Blockquote
blockquote {
  border-left: 5px solid #000;
  padding-left: 1.1rem;
  margin-left: 1rem;
  font-style: italic;
  color: var(--discreet-color);
}

// Pre
pre {
  padding: 1rem 2rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}

// SVG
svg {
  vertical-align: -0.15em;
}

// Table
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border: 1px solid var(--discreet-color);
}

table th {
  color: var(--body-background);
  background-color: var(--discreet-color);
}

table tr:nth-child(even) {
  background-color: var(--inset-background);
}

table tr:hover {
  color: var(--body-background);
  background-color: var(--discreet-color);
}

table.scrollable {
  max-height: 300px;
  overflow-y: auto;
}

// Hide
.hide {
  display: none;
}

// Wrapper
.wrapper {
  max-width: 1250px;
  width: 100%;
  position: relative;
}

// Post
.post,
.article-page {
  background-color: var(--body-background);
  width: 100%;
}

// Lang Switcher
.language-switcher {
  display: flex;
  align-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.language-switcher input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.language-switcher label {
  border: 1px solid var(--body-color);
  background-color: var(--body-background);
  color: var(--body-color);
  line-height: 1.1;
  text-align: center;
  padding: 6px 10px;
  margin-right: -1px;
  transition: all 0.1s ease-in-out;
}

.language-switcher label:hover {
  cursor: pointer;
}

.language-switcher input:checked + label {
  color: var(--body-background);
  background-color: var(--body-color);
  cursor: default;
}

.language-switcher label:first-of-type {
  border-radius: 15px 0 0 15px;
}

.language-switcher label:last-of-type {
  border-radius: 0 15px 15px 0;
}

// Dark Mode Switcher
.dark-mode-switcher {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;

  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .dark-mode-switch {
    border: 1px solid var(--body-color);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    position: relative;
    width: 55px;
    background-color: var(--body-background);

    .ball {
      background-color: var(--body-color);
      border-radius: 50%;
      position: absolute;
      top: 4px;
      left: 4px;
      height: 20px;
      width: 20px;
      transform: translateX(0);
    }

    svg {
      fill: var(--body-color);
    }

    &.dark {
      .ball {
        transform: translateX(25px);
      }
    }

    &.animated {
      .ball {
        transition: transform 0.2s ease-out;
      }
    }
  }
}

// Back to the Top - Rocket
.rocket {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  border-radius: 100px;
  bottom: -30px;

  &.show {
    visibility: visible;
    opacity: 1;
    bottom: 30px;
    transition: all 0.5s ease;
  }

  &.launch {
    visibility: visible;
    opacity: 1;
    bottom: 100vh;
    transition: bottom 1.5s ease;
  }

  svg {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;

    path {
      fill: var(--discreet-color);
    }
  }

  &:hover svg,
  &.launch svg {
    transform: rotate(-45deg);

    path {
      fill: var(--body-color);
    }
  }
}

// Right Bar
.right-sidebar {
  display: none;
}

.right-toc {
  display: none;
}

// Tocbot
.right-toc {
  overflow-y: auto;
}
.right-toc > .toc-list {
  overflow: hidden;
  position: relative;
}
.node-name--H1 {
  font-size: larger;
  padding-bottom: 10px;
}
.right-toc > .toc-list li {
  list-style: none;
}
.toc-list {
  margin: 0;
  padding-left: 10px;
}
a.toc-link {
  color: currentColor;
  height: 100%;
  text-decoration: none;
  &:hover{
    color: var(--link-color);
  }
}
.is-active-li {
  > .toc-link {
    font-weight: 700;
    color: var(--link-color);
  }
}
.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.is-collapsed {
  max-height: 0;
}
.is-position-fixed {
  position: fixed !important;
  top: 0;
}
.toc-link::before {
  background-color: var(--body-color);
  content: " ";
  display: inline-block;
  height: 100%;
  left: 0;
  margin-top: 0;
  position: absolute;
  width: 3px;
  transition: background-color 0.2s ease, width 0.2s ease;
}
.is-active-li > .toc-link::before {
  background-color: var(--link-color);
}
// Tocbot

.share-links {
  display: flex;
  flex-direction: column; // Default vertical layout
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

.share-item {
  svg {
    width: 40px;
    height: auto;
    vertical-align: middle; // Ensures icon aligns with text
    color: var(--discreet-color);
    fill: var(--discreet-color);
    padding-right: 6px;
    display: inline;
    font-size: 25px;

    &:hover {
      path {
        fill: var(--body-color);
      }
    }
  }
}

/* - - - - - - - - - - Home Page Styles - - - - - - - - - - */
@import "parts/home-page";

/* - - - - - - - - - - Post Page Styles - - - - - - - - - - */
@import "parts/post-page";

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
@import "parts/tag";

/* - - - - - - - - - - Search Styles - - - - - - - - - - */
@import "parts/search";

/* - - - - - - - - - - Review Styles - - - - - - - - - - */
:root {
  --microlink-background-color: var(--body-background);
  --microlink-hover-background-color: var(--body-background);
  --microlink-color: var(--body-color);
}

@import "parts/review";

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import "media";

@import "premonition";
