---
# Front matter comment to ensure Jekyll properly reads file.
sitemap:
  exclude: 'yes'
---

// Imports
@import 'normalize';
@import 'highlight';
@import 'variables';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  color: $body-color;
  font-family: 'Nunito Sans',sans-serif;
  font-size: 1rem;
  font-size: 19px;
  font-weight: 400;
  background-color: #fbfbfb;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h4, h6 {
  font-family: 'metropolisbold',sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

img + em {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

blockquote {
  border-left: 5px solid #000;
  padding-left: 1.1rem;
  margin-left: 1rem;
  font-style: italic;
  color: #ada8a8;
}

pre {
  padding: 1rem 2rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}

svg {
  vertical-align: -0.15em;
}

/* Markdown Table CSS */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #eaeaea;
}

/* Optional: Add a scroll bar for tables with many rows */
table.scrollable {
  max-height: 300px;
  overflow-y: auto;
}

.hide{
  display:none;
}

.wrapper {
  max-width: 1250px;
  width: 100%;
  position: relative;
}

.post, .article-page {
  background-color: #fbfbfb;
  width: 100%;
}

::-moz-selection {
  background: rgba(209, 193, 177, 0.8);
  color: $white;
}

::selection {
  background: rgba(209, 193, 177, 0.8);
  color: $white;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* - - - - - - - - - - Home Page Styles - - - - - - - - - - */
@import 'parts/home-page';

/* - - - - - - - - - - Post Page Styles - - - - - - - - - - */
@import 'parts/post-page';

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
@import 'parts/tag';

/* - - - - - - - - - - Search Styles - - - - - - - - - - */
@import 'parts/search';

/* - - - - - - - - - - Review Styles - - - - - - - - - - */
:root {
  --microlink-background-color: #fbfbfb;
  --microlink-hover-background-color: #fbfbfb;
  --microlink-color: #515151;
}

@import 'parts/review';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'media';

@import "premonition";
