---
# Front matter comment to ensure Jekyll properly reads file.
sitemap:
  exclude: 'yes'
---

// Imports
//@import 'variables';
@import 'normalize';
@import 'highlight';

:root {
    --body-background: #fbfbfb;
    --body-color: #515151;
    --inset-background: #E0E0E0;
    --emphasis-color: #333030;
    --discreet-color: #b4b4b4;
    --shadow-color-flashy: 10, 16, 34;
    --shadow-color: #0a1022;
    --link-color: #3e64ff;
    --code-background: #747474;
    --code-color: #fbfbfb;
}
html[data-mode='dark'] {
    --body-background: #515151;
    --body-color: #fbfbfb;
    --inset-background: #747474;
    --emphasis-color: #a0a0a0;
    --discreet-color: #b4b4b4;
    --shadow-color-flashy: 245, 239, 245;
    --shadow-color: #4974f6;
    --link-color: #ae81ff; /* #3e8bff; */
    --code-background: #747474;
    --code-color: #fbfbfb;
}

.dark-mode-switcher {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .dark-mode-switch {
    border: 1px solid var(--body-color);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    position: relative;
    width: 55px;
    background-color: var(--body-background);
    .ball {
      background-color: var(--body-color);
      border-radius: 50%;
      position: absolute;
      top: 4px;
      left: 4px;
      height: 20px;
      width: 20px;
      transform: translateX(0);
    }
    svg {
      fill: var(--body-color);
    }
    &.dark {
      .ball {
        transform: translateX(25px);
      }
    }
    &.animated {
      .ball {
        transition: transform 0.2s ease-out;
      }
    }
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  color: var(--body-color);
  font-family: 'Nunito Sans',sans-serif;
  font-size: 1rem;
  font-size: 19px;
  font-weight: 400;
  background-color: var(--body-background);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h4, h6 {
  font-family: 'metropolisbold',sans-serif;
  font-weight: 400;
}

h1 img {
    fill: var(--body-color);
    stroke: var(--body-color);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  .page-image {
    max-width: 100%;
    height: auto;
  }
}

img + em {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

blockquote {
  border-left: 5px solid #000;
  padding-left: 1.1rem;
  margin-left: 1rem;
  font-style: italic;
  color: var(--discreet-color);
}

pre {
  padding: 1rem 2rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}

svg {
  vertical-align: -0.15em;
}

/* Markdown Table CSS */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border: 1px solid var(--discreet-color);
}

table th {
  color: var(--body-background);
  background-color: var(--discreet-color);
}

table tr:nth-child(even) {
  background-color: var(--inset-background);
}

table tr:hover {
  color: var(--body-background);
  background-color: var(--discreet-color);
}

table.scrollable {
  max-height: 300px;
  overflow-y: auto;
}

.hide{
  display:none;
}

.wrapper {
  max-width: 1250px;
  width: 100%;
  position: relative;
}

.post, .article-page {
  background-color: var(--body-background);
  width: 100%;
}
/*
::-moz-selection {
  background: rgba(209, 193, 177, 0.8);
  color: var(--body-background);
}

::selection {
  background: rgba(209, 193, 177, 0.8);
  color: var(--body-background);
}
*/
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* - - - - - - - - - - Home Page Styles - - - - - - - - - - */
@import 'parts/home-page';

/* - - - - - - - - - - Post Page Styles - - - - - - - - - - */
@import 'parts/post-page';

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
@import 'parts/tag';

/* - - - - - - - - - - Search Styles - - - - - - - - - - */
@import 'parts/search';

/* - - - - - - - - - - Review Styles - - - - - - - - - - */
:root {
  --microlink-background-color: var(--body-background);
  --microlink-hover-background-color: var(--body-background);
  --microlink-color: var(--body-color);
}

@import 'parts/review';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'media';

@import "premonition";
