<!DOCTYPE html>
<html lang="{{ page.lang | default: site.active_lang | default: 'fr' }}">
{% include head.html %}
  <body>

    <div class="wrapper">
      {{ content }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    {% include analytics.html %}
    <script src="{{ site.url }}{{ site.baseurl }}{% if site.active_lang != site.default_lang %}/{{ site.active_lang }}{% endif %}/cookie-consent.js"></script>

  </body>
</html>
