---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.active_lang | default: 'fr' }}">
{% include head.html %}
  <body>
    <div class="wrapper">
      {{ content }}
    </div>
    <script src="/scalastic.min.js"></script>
    <script>
      tocbot.init({
        tocSelector: '.right-toc',
        contentSelector: '.wrap-content',
        headingSelector: 'h1, h2, h3',
        ignoreSelector: '.name',
        orderedList: false,
      });
    </script>
  </body>
</html>
