---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-company-image">
        {% picture {{site.baseurl}}/assets/img/{{site.company-img}} --alt {{site.company}} --link {{site.baseurl}}/ %}
      </div>
      <div class="cover-author-image">
        {% picture {{site.baseurl}}/assets/img/{{site.author-img}} --alt {{site.author}} --link {{site.baseurl}}/ %}
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.data.i18n.about-author}}</p>
      <p>{{site.data.i18n.about-company}}</p>
      {% for tongue in site.languages %}
      {% if tongue != site.active_lang %}
      <a {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %}>{{ site.data.i18n.transl-version }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </header>
  <footer>
    <section class="contact">
      <h3 class="contact-title">{{site.data.i18n.contact-me}}</h3>
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank" rel="noopener noreferrer nofollow"><i class="fab fa-twitter-square"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank" rel="noopener noreferrer nofollow"><i class="fab fa-github"></i></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}/" rel="noopener noreferrer nofollow" target="_blank"><i class="fab fa-linkedin-in"></i></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="far fa-envelope"></i></i></a></li>
        {% endif %}
      </ul>
    </section>
    <section class="contact">
      <ul>
        <li><a href="/informations-légales/"><i class="fas fa-gavel"></i></a></li>
        <li><a href="/sitemap.xml"><i class="fas fa-sitemap"></i></a></li>
        <li><a href="https://github.com/scalastic/scalastic.github.io" target="_blank" rel="licence noopener noreferrer nofollow"><i class="fas fa-code"></i></a></li>
      </ul>
    </section>
    <section class="copyright">
      <p>{{site.time | date: '%Y'}} <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" rel="licence noopener noreferrer nofollow"><i class="fab fa-creative-commons"></i><i class="fab fa-creative-commons-by"></i><i class="fab fa-creative-commons-nc-eu"></i><i class="fab fa-creative-commons-nd"></i></a> {{ site.data.i18n.copyrigth }}</p>
    </section>
  </footer> 
</aside>
<div class="content-box clearfix">
  {{ content }}
</div>
