.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100%;
  padding: 20px 10px;
  background-color: var(--body-background);
  font-size: 16px;
  a {
    color: var(--body-color);
    fill: var(--body-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      opacity: .8;
    }
  }
}
.about {
  margin: 0 0 40px;
  text-align: center;
  .cover-logo {
    width: 150px;
    margin: 0 auto 10px;
    a {
      text-decoration: none;
    }
    svg {
      fill: var(--body-color);
      stroke: var(--body-color);
      transition: all .3s ease;
      &:hover {
        transform: translate(0px, -2px);
        box-shadow: 0 15px 45px -10px rgba(var(--shadow-color-flashy), .2);
      }
    }
  }
  .cover-company-image {
    width: 150px;
    margin: 0 auto 10px;
    border-radius: 50px;
    overflow: hidden;
    border: 3px solid var(--emphasis-color);
  }
  .cover-author-image {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--emphasis-color);
  }

  img {
    width: 100%;
  }

  .about-site {
    font-family: 'Mulish', sans-serif;
    margin: 0 0 10px;
    position: relative;
    padding: 15px;
    font-size: 16px;
    color: var(--body-color);
    font-weight: 400;
  }

  .about-emphase {
    color: var(--body-color);
    font-weight: 700;
  }

  p {
    font-size: 16px;
    margin: 0 0 10px;
  }
}

/* Checkbox */

.btn {
  display: inline-block;
  padding: 5px;
  position: relative;
  text-align: center;
}

input[type="radio"].toggle {
  display: none;
  & + label {
    cursor: pointer;
    min-width: 60px;
    &:hover {
      background: none;
      color: var(--body-color);
    }
    &:after {
      background: var(--body-color);
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
  &.toggle-left + label {
    border-right: 0;
    &:after {
      left: 100%
    }
  }
  &.toggle-right + label {
    margin-left: -5px;
    &:after {
      left: -100%;
    }
  }
  &:checked + label {
    cursor: default;
    color: var(--body-background);
    transition: color 200ms;
    &:after {
      left: 0;
    }
  }
}

/* End Checkbox */

.content-box {
  padding: 20px;
  padding-left: 260px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.contact {
  .contact-title {
    position: relative;
    color: var(--emphasis-color);
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 5px;
    text-transform: uppercase;
    text-align: center;
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: calc(50% - 48px);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 0;
      background-color: var(--body-color);
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: calc(50% - 48px);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 0;
      background-color: var(--body-color);
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: var(--body-color);
        fill: var(--body-color);
        display: block;
        padding: 5px;
        font-size: 18px;
        transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
        &:hover {
          color: var(--emphasis-color);
          fill: var(--emphasis-color);
          transform: scale(1.2);
        }
      }
    }
  }
}

footer {
  .copyright {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

.post {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 11rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease;
  box-shadow: 0 1px 1px 0 rgba(var(--shadow-color-flashy), .15);
  &:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px rgba(var(--shadow-color-flashy), .2);
  }

  .post-thumbnail {
    width: 30%;
    max-width: 100%;
    min-height: 11rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
      display: inline-block;
      margin-left:auto;
      margin-right: auto;
      max-width: 100%;
      min-height: 11rem;
      border-radius: 0px;
    }
  }

  .post-content {
    padding: 1rem;
    width: 100%;
    .post-date,
    .post-words {
      font-size: 12px;
    }
    .post-title {
      margin: 0 0 10px;
      font-size: 30px;
      font-weight: 800;
      a {
        text-decoration: none;
        color: var(--body-color);
      }
    }
    p {
      margin-top: 0;
    }
  }
}

.pagination {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  padding: 8px 16px;

  a, span {
    font-size: 18px;
    color: var(--body-color);
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid var(--shadow-color-flashy);
    transition: all .3s ease;
    box-shadow: 0 1px 1px 0 rgba(var(--shadow-color-flashy), .15);
    &:hover {
      transform: translate(0px, -2px);
      box-shadow: 0 15px 45px -10px rgba(var(--shadow-color-flashy), .2);
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.disable {
      color: var(--discreet-color);
      background-color: var(--inset-background);
      box-shadow: none;
    }
    svg {
      vertical-align: -0.15em;
    }
  }
}
