.wrap-content {
  padding: 20px;
}

.page-header {
  text-align: center;
  margin: 10px 0;
  .page-title {
    font-weight: 400;
    margin: 0 0 10px;
    line-height: 1.3;
  }
  .page-metadata {
    color: #adb5bd;
    fill: #adb5bd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    ul {
      text-align: center;
      padding: 0;
      margin: 0;
    }
    li {
      display: inline;
      list-style: none;
      padding: 10px 5px 10px 5px;
    }
  }
  
}

.article-page {
  text-align: justify;
  text-justify: inter-word;
  h2, h3, h4, h5, h7 {
    text-align: left;
  }
  a {
    color: #3e64ff;
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      opacity: .8;
    }
  }
  a[target="_blank"]:after {
    background-color: currentColor;
    content: "";
    padding: 0 0.5rem;
    margin: 0 0.125rem;
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='external-link-square-alt' class='svg-inline--fa fa-external-link-square-alt fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='currentColor' d='M448 80v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48zm-88 16H248.029c-21.313 0-32.08 25.861-16.971 40.971l31.984 31.987L67.515 364.485c-4.686 4.686-4.686 12.284 0 16.971l31.029 31.029c4.687 4.686 12.285 4.686 16.971 0l195.526-195.526 31.988 31.991C358.058 263.977 384 253.425 384 231.979V120c0-13.255-10.745-24-24-24z'></path></svg>");
    mask-image: url("data:image/svg+xml;utf8,<svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='external-link-square-alt' class='svg-inline--fa fa-external-link-square-alt fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='currentColor' d='M448 80v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48zm-88 16H248.029c-21.313 0-32.08 25.861-16.971 40.971l31.984 31.987L67.515 364.485c-4.686 4.686-4.686 12.284 0 16.971l31.029 31.029c4.687 4.686 12.285 4.686 16.971 0l195.526-195.526 31.988 31.991C358.058 263.977 384 253.425 384 231.979V120c0-13.255-10.745-24-24-24z'></path></svg>");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    zoom: 75%;
  }
  .article {
    figcaption {
        font-size: 0.9rem;
        font-style: italic;
        padding: 5px;
        text-align: center;
        opacity: .9;
    }
  }
}

.article-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-bottom: 20px;
  line-height: 15px;
  h4 {
    font-size: 14px;
  }

  a.prev {
    width: 45%;
    text-decoration: none;
    margin-left: 5px;
    transition: all .25s ease;
    &:hover {
      opacity: 0.8;
      margin-left: 0px;
    }
  }

  a.next {
    width: 45%;
    text-align: right;
    margin-left: auto;
    text-decoration: none;
    margin-right: 5px;
    transition: all .25s ease;
    &:hover {
      opacity: 0.8;
      margin-right: 0px;
    }
  }

  .article-nav {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4A4B51;
  }

  h4.article-nav-title {
    color: #3e64ff;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 14px;
    text-transform: none;
  }
}

.page-cover-image {
  position: relative;
  padding: 0;
  margin: 0;
  max-height: 500px;
  background-color: $lightgray;
  overflow: hidden;
  figure {
    position: relative;
    margin: 0;
  }
  figcaption {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
  }
  .page-image {
    width: 100%;
    height: 100%;
  }
}

.hr-text {
  line-height: 1em;
  position: relative;
  margin-top: 50px !important;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .7;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

a.card-source.microlink_vanilla {
  &:after {
    background-color: #fbfbfb;
    content: "";
  }
  &:hover {
    text-decoration: none;
    opacity: .8;
  }
}

.card-source.microlink_vanilla {
  --microlink-max-width: 500px;

  .microlink_card {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    &:hover {
      transform: translate(0px, -2px);
      box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2);
    }
  }
}


.page-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin: 10px 0px;
  border-bottom: 1px solid #a0a0a0;

  .page-tag {
    margin-top: 25px;
    display: block;
    ul {
      margin-top: 0px;
      padding-top: 0px;
      list-style: none;
      list-style-image: none;
      li {
        list-style-type: none;
        margin-bottom: 8px;
        margin-right: 8px;
        display: inline-block;
        a {
          padding: 5px 10px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
          line-height: 22px;
          background-color: $gray;
          font-size: 13px;
          color: $dark-blue;
          text-decoration: none;
          display: block;
        }
      }
    }
    /* a {
      text-decoration: none;
      font-size: 12px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      padding: 3px 5px;
      margin: 5px 7px;
      color: $dark-gray;
      border: 1px solid $gray;
      background-color: $gray;
      &:hover {
        text-decoration: underline;
      }
    } */
  }
  .page-share {
    margin-top: 25px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    .social-left {
      flex-direction: row;
      align-items: center;
      display: flex;
    }
    .social-right {
      align-items: center;
      display: flex;
      .social-item {
        a {
          color: $dark-gray;
          fill: $dark-gray;
          padding-right: 6px;
          display: inline;
          font-size: 25px;
        }
      }
    }
  }
}

.page-author {
  padding-bottom: 30px;
  margin: 10px 0px;
  border-bottom: 1px solid #a0a0a0;
  display: flex;
  margin: 0 -12px;
  justify-content: space-between;
  p { 
    margin: 0;
  }
  .author-pres {
    flex-wrap: wrap;
    margin: 0 12px;
  }
  .author-img {
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    vertical-align: middle;
    width: 80px;
    height: 80px;
  }
  .author-info {
    p {
      padding-left: 102px;
    }
    .intro {
      padding-left: 102px;
      letter-spacing: 0.077em;
      line-height: 18px;
      text-transform: uppercase;
      font-size: 13px;
      color: $dark-gray;
      margin-bottom: 6px;
    }
    h2.name {
      padding-left: 102px;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0px;
      margin: 0px;

    }
    .title {
      padding-left: 102px;
      font-size: 16px;
      letter-spacing: 0px;
      margin: 0px;
      color: $dark-gray;
    }
  }
  .author-desc {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    margin: 0 12px;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
    color: $dark-gray;
    opacity: 0.9;
  }
}

.page-recomm {
  gap: 4px;
  align-items: flex-end;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .recomm {
    opacity: 0.8;
    background: $gray;
    color: $dark;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
    a > h5 {
      margin: 10px 10px;
      text-align: left;
      text-decoration: none;
      color: #515151;
    }
    img {
      padding: 10px 10px;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.page-footer-comment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 10px;
  margin: 50px 50px;
  border: 3px solid $dark-gray;
  border-radius: 5px;
}
