.wrap-content {
  padding: 20px;
}

.page-header {
  text-align: center;
  margin: 10px 0;
  .page-title {
    font-weight: 400;
    margin: 0 0 10px;
    line-height: 1.3;
  }
  .page-metadata {
    color: #adb5bd;
    fill: #adb5bd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    ul {
      text-align: center;
      padding: 0;
      margin: 0;
    }
    li {
      display: inline;
      list-style: none;
      padding: 10px 5px 10px 5px;
    }
  }
  
}

.article-page {
  a {
    background: transparent;
    color: #3e64ff;
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      opacity: .8;
    }
  }
  a[target="_blank"]:after {
    background-color: currentColor;
    content: "";
    padding: 0 0.5em;
    margin: 0 0.125rem;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    zoom: 75%;
  }
  .article {
    figcaption {
        font-size: 0.9rem;
        font-style: italic;
        padding: 5px;
        text-align: center;
        opacity: .9;
    }
  }
}

.article-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-bottom: 20px;
  line-height: 15px;
  h4 {
    font-size: 14px;
  }

  a.prev {
    width: 45%;
    text-decoration: none;
    margin-left: 5px;
    transition: all .25s ease;
    &:hover {
      opacity: 0.8;
      margin-left: 0px;
    }
  }

  a.next {
    width: 45%;
    text-align: right;
    margin-left: auto;
    text-decoration: none;
    margin-right: 5px;
    transition: all .25s ease;
    &:hover {
      opacity: 0.8;
      margin-right: 0px;
    }
  }

  .article-nav {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4A4B51;
  }

  h4.article-nav-title {
    color: #3e64ff;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 14px;
    text-transform: none;
  }
}

.page-cover-image {
  position: relative;
  padding: 0;
  margin: 0;
  max-height: 500px;
  background-color: $lightgray;
  overflow: hidden;
  figure {
    position: relative;
    margin: 0;
  }
  figcaption {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
  }
  .page-image {
    width: 100%;
    height: 100%;
  }
}

.hr-text {
  line-height: 1em;
  position: relative;
  margin-top: 50px !important;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .7;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

.page-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin: 30px 0  ;
  border-bottom: 1px solid $dark-gray;
  .page-share {
    margin-bottom: 10px;
    text-align: left;
    a {
      display: inline-block;
      text-decoration: none;
      background-color: $lightgray;
      border: 1px solid $gray;
      padding: 5px 10px;
      margin-left: 5px;
      color: $dark-blue;
      font-size: 12px;
      transition: background-color .3s;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background-color: $gray;
      }
    }
  }

  .page-tag {
    a {
      text-decoration: none;
      font-size: 10px;
      padding: 5px 10px;
      margin-left: 5px;
      color: $dark-blue;
      text-transform: uppercase;
      border: 1px solid $dark-blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.page-footer-comment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 10px;
  margin: 50px 50px;
  border: 3px solid $dark-gray;
  border-radius: 5px;
}
