.wrap-content {
  padding: 20px;
}

.page-header {
  text-align: center;
  margin: 10px 0;

  .page-title {
    :first-child::before {
      content: '';
      min-height: 20px;
      display: block;
    }
    font-weight: 800;
    margin: 0 0 10px;
    line-height: 1.3;
    -webkit-animation: 4s wobble linear;
    animation: 4s wobble linear;
  }
  @keyframes wobble {
    0% {
      transform: scale(0, 0);
    }
    1% {
      transform: scale(0.086484529651881, 0.179427456557767);
    }
    2% {
      transform: scale(0.292554252432152, 0.545376716848168);
    }
    3% {
      transform: scale(0.545376716848168, 0.894404964543183);
    }
    4% {
      transform: scale(0.788551391390369, 1.120376016086594);
    }
    5% {
      transform: scale(0.985835941661639, 1.205153326404069);
    }
    6% {
      transform: scale(1.120376016086594, 1.184807461549862);
    }
    7% {
      transform: scale(1.191045818185745, 1.113400777234015);
    }
    8% {
      transform: scale(1.207445230574602, 1.037247338712057);
    }
    9% {
      transform: scale(1.184807461549862, 0.983312126349848);
    }
    10% {
      transform: scale(1.139672272493081, 0.959151493096828);
    }
    11% {
      transform: scale(1.086773838727188, 0.959207005548428);
    }
    12% {
      transform: scale(1.037247338712057, 0.972534530793938);
    }
    13% {
      transform: scale(0.998010256157525, 0.98880159678671);
    }
    14% {
      transform: scale(0.972031419546276, 1.001379435012348);
    }
    15% {
      transform: scale(0.959151493096828, 1.00783265522376);
    }
    16% {
      transform: scale(0.957140100254271, 1.008821093113781);
    }
    17% {
      transform: scale(0.96274018852263, 1.006488198218787);
    }
    18% {
      transform: scale(0.972534530793938, 1.003092956925791);
    }
    19% {
      transform: scale(0.983552526255917, 1.000221414749495);
    }
    20% {
      transform: scale(0.993604544681563, 0.998573305048547);
    }
    21% {
      transform: scale(1.001379435012348, 0.998133854506318);
    }
    22% {
      transform: scale(1.006367469874671, 0.998500975623806);
    }
    23% {
      transform: scale(1.00867876840649, 0.999191084459488);
    }
    24% {
      transform: scale(1.008821093113781, 0.999833501948366);
    }
    25% {
      transform: scale(1.007486437375814, 1.000240340703161);
    }
    26% {
      transform: scale(1.005378103626964, 1.000385276149533);
    }
    27% {
      transform: scale(1.003092956925791, 1.000339232175458);
    }
    28% {
      transform: scale(1.001059752569101, 1.000203385122328);
    }
    29% {
      transform: scale(0.999525049489696, 1.000062534362191);
    }
    30% {
      transform: scale(0.998573305048547, 0.999964849826148);
    }
    31% {
      transform: scale(0.998166624576185, 0.999922697095762);
    }
    32% {
      transform: scale(0.998191241770966, 0.999924761163581);
    }
    33% {
      transform: scale(0.998500975623806, 0.999950419122189);
    }
    34% {
      transform: scale(0.998951615476555, 0.999980662109647);
    }
    35% {
      transform: scale(0.99942365059167, 1.000003563281379);
    }
    36% {
      transform: scale(0.999833501948366, 1.000014970213524);
    }
    37% {
      transform: scale(1.000135225951195, 1.000016350718153);
    }
    38% {
      transform: scale(1.00031555507819, 1.000011778605271);
    }
    39% {
      transform: scale(1.000385276149533, 1.000005429970832);
    }
    40% {
      transform: scale(1.00036955135608, 1.000000175788403);
    }
    41% {
      transform: scale(1.000299099745054, 0.999997234930038);
    }
    42% {
      transform: scale(1.000203385122328, 0.999996522266158);
    }
    43% {
      transform: scale(1.000106253265117, 0.999997264764804);
    }
    44% {
      transform: scale(1.000023918238932, 0.999998563845857);
    }
    45% {
      transform: scale(0.999964849826148, 0.999999744931904);
    }
    46% {
      transform: scale(0.999930953553717, 1.000000476269022);
    }
    47% {
      transform: scale(0.999919425875407, 1.000000722388812);
    }
    48% {
      transform: scale(0.999924761163581, 1.000000621989317);
    }
    49% {
      transform: scale(0.999940535092441, 1.000000364142579);
    }
    50% {
      transform: scale(0.99996074901389, 1.000000103935755);
    }
    51% {
      transform: scale(0.999980662109647, 0.999999927251821);
    }
    52% {
      transform: scale(0.999997145282538, 0.999999853998891);
    }
    53% {
      transform: scale(1.000008657088084, 0.999999861387962);
    }
    54% {
      transform: scale(1.000014970213524, 0.999999910625746);
    }
    55% {
      transform: scale(1.000016775086596, 0.999999966780841);
    }
    56% {
      transform: scale(1.000015265384358, 1.000000008427682);
    }
    57% {
      transform: scale(1.000011778605271, 1.000000028536839);
    }
    58% {
      transform: scale(1.000007531821609, 1.000000030270993);
    }
    59% {
      transform: scale(1.000003464072008, 1.000000021355454);
    }
    60% {
      transform: scale(1.000000175788403, 1.000000009501385);
    }
    61% {
      transform: scale(0.999997943086903, 0.99999999989862);
    }
    62% {
      transform: scale(0.999996779924779, 0.999999994661554);
    }
    63% {
      transform: scale(0.999996522266158, 0.999999993527534);
    }
    64% {
      transform: scale(0.999996913355979, 0.999999995014962);
    }
    65% {
      transform: scale(0.999997675912265, 0.999999997456225);
    }
    66% {
      transform: scale(0.999998563845857, 0.999999999625199);
    }
    67% {
      transform: scale(0.999999391872285, 1.000000000937729);
    }
    68% {
      transform: scale(1.000000045503658, 1.000000001352395);
    }
    69% {
      transform: scale(1.000000476269022, 1.000000001139136);
    }
    70% {
      transform: scale(1.000000687807928, 1.00000000065078);
    }
    71% {
      transform: scale(1.000000718100621, 1.000000000170632);
    }
    72% {
      transform: scale(1.000000621989317, 0.999999999851502);
    }
    73% {
      transform: scale(1.000000456728239, 0.999999999724765);
    }
    74% {
      transform: scale(1.00000027190648, 0.999999999744926);
    }
    75% {
      transform: scale(1.000000103935755, 0.999999999839136);
    }
    76% {
      transform: scale(0.999999974491714, 0.999999999943276);
    }
    77% {
      transform: scale(0.999999891858109, 1.000000000018919);
    }
    78% {
      transform: scale(0.999999853998891, 1.000000000054265);
    }
    79% {
      transform: scale(0.999999852290513, 1.000000000055976);
    }
    80% {
      transform: scale(0.999999875091735, 1.000000000038668);
    }
    81% {
      transform: scale(0.999999910625746, 1.000000000016565);
    }
    82% {
      transform: scale(0.999999948934096, 0.999999999999035);
    }
    83% {
      transform: scale(0.999999982891666, 0.999999999989729);
    }
    84% {
      transform: scale(1.000000008427682, 0.999999999987969);
    }
    85% {
      transform: scale(1.000000024178711, 0.999999999990925);
    }
    86% {
      transform: scale(1.000000030817137, 0.999999999995506);
    }
    87% {
      transform: scale(1.000000030270993, 0.999999999999484);
    }
    88% {
      transform: scale(1.000000024997425, 1.000000000001836);
    }
    89% {
      transform: scale(1.000000017409911, 1.000000000002528);
    }
    90% {
      transform: scale(1.000000009501385, 1.000000000002084);
    }
    91% {
      transform: scale(1.000000002659794, 1.000000000001161);
    }
    92% {
      transform: scale(0.999999997642536, 1.000000000000276);
    }
    93% {
      transform: scale(0.999999994661554, 0.9999999999997);
    }
    94% {
      transform: scale(0.999999993528801, 0.999999999999482);
    }
    95% {
      transform: scale(0.999999993818591, 0.999999999999531);
    }
    96% {
      transform: scale(0.999999995014962, 0.999999999999711);
    }
    97% {
      transform: scale(0.999999996625079, 0.999999999999904);
    }
    98% {
      transform: scale(0.999999998251508, 1.000000000000041);
    }
    99% {
      transform: scale(0.999999999625199, 1.000000000000103);
    }
    100% {
      transform: scale(1.000000000606774, 1.000000000000103);
    }
  }

  .page-metadata {
    color: var(--discreet-color);
    fill: var(--discreet-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    ul {
      text-align: center;
      padding: 0;
      margin: 0;
    }
    li {
      display: inline;
      list-style: none;
      padding: 10px 5px 10px 5px;
    }
  }
  
}

.article-page {
  text-align: justify;
  text-justify: inter-word;
  h2, h3, h4, h5, h7 {
    text-align: left;
  }
  a {
    color: var(--link-color);
    border: none;
    padding: 0;
    /* word-break: break-all; */
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      opacity: .8;
    }
  }
  a[target="_blank"]:after {
    background-color: currentColor;
    content: "";
    padding: 0 0.5rem;
    margin: 0 0.125rem;
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='external-link-square-alt' class='svg-inline--fa fa-external-link-square-alt fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='currentColor' d='M448 80v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48zm-88 16H248.029c-21.313 0-32.08 25.861-16.971 40.971l31.984 31.987L67.515 364.485c-4.686 4.686-4.686 12.284 0 16.971l31.029 31.029c4.687 4.686 12.285 4.686 16.971 0l195.526-195.526 31.988 31.991C358.058 263.977 384 253.425 384 231.979V120c0-13.255-10.745-24-24-24z'></path></svg>");
    mask-image: url("data:image/svg+xml;utf8,<svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='external-link-square-alt' class='svg-inline--fa fa-external-link-square-alt fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='currentColor' d='M448 80v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48zm-88 16H248.029c-21.313 0-32.08 25.861-16.971 40.971l31.984 31.987L67.515 364.485c-4.686 4.686-4.686 12.284 0 16.971l31.029 31.029c4.687 4.686 12.285 4.686 16.971 0l195.526-195.526 31.988 31.991C358.058 263.977 384 253.425 384 231.979V120c0-13.255-10.745-24-24-24z'></path></svg>");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    zoom: 75%;
  }
  .article {
    figcaption {
        font-size: 0.9rem;
        font-style: italic;
        padding: 5px;
        text-align: center;
        opacity: .9;
    }
  }
  .page-cover-image {
    position: relative;

    img.page-image {
      max-width: 100%;
      height: auto;
    }
  }
}

.article-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
//  margin-bottom: 50px;
  margin-bottom: 20px;
  line-height: 15px;
  h4 {
    font-size: 14px;
  }

  a.prev {
    width: 45%;
    text-decoration: none;
    margin-left: 5px;
    transition: all .25s ease;
    &:hover {
      opacity: 0.8;
      margin-left: 0px;
    }
  }

  a.next {
    width: 45%;
    text-align: right;
    margin-left: auto;
    text-decoration: none;
    margin-right: 5px;
    transition: all .25s ease;
    &:hover {
      opacity: 0.8;
      margin-right: 0px;
    }
  }

  .article-nav {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4A4B51;
  }

  h4.article-nav-title {
    color: #3e64ff;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 14px;
    text-transform: none;
  }
}

.page-cover-image {
  position: relative;
  padding: 0;
  margin: 0;
  max-height: 500px;
  background-color: var(--body-background);
  border-radius: 10px;
  overflow: hidden;

  figure {
    position: relative;
    margin: 0;
  }
  figcaption {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
  }
}

.hr-text {
  line-height: 1em;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 40px;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 2.5em;
  opacity: .8;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, var(--body-color), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    font-size: 1.5em; /* Texte agrandi */
    font-weight: bold; /* Met le texte en valeur */
    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: var(--body-color);
    background-color: var(--body-background);
  }
}

a.card-source.microlink_vanilla {
  &:after {
    background-color: var(--body-background);
    content: "";
  }
  &:hover {
    text-decoration: none;
    opacity: .8;
  }
}

.card-source.microlink_vanilla {
  --microlink-max-width: 500px;

  .microlink_card {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    &:hover {
      transform: translate(0px, -2px);
      box-shadow: 0 15px 45px -10px rgba(var(--shadow-color-flashy), .2);
    }
  }
}


.page-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin: 10px 0px;
  border-bottom: 1px solid #a0a0a0;

  .page-tag {
    margin-top: 25px;
    display: block;
    ul {
      margin-top: 0px;
      padding-top: 0px;
      list-style: none;
      list-style-image: none;
      li {
        list-style-type: none;
        margin-bottom: 8px;
        margin-right: 8px;
        display: inline-block;
      }
    }
  }
  .page-share {
    margin-top: 25px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    .social-left, .social-right {
      align-items: center;
      display: flex;
      .social-item {
        svg {
          color: var(--discreet-color);
          fill: var(--discreet-color);
        }
        a {
          color: var(--discreet-color);
          fill: var(--discreet-color);
          padding-right: 6px;
          display: inline;
          font-size: 25px;
        }
      }
    }
    .social-left {
      width: 75%;
    }
    .social-right {
      width: 25%;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-evenly;
      justify-content: center;
      align-items:center;
      .social-item {
        padding: 6px 6px;
      }
    }
  }
}

.page-author {
  padding-bottom: 30px;
  margin: 10px 0px;
  border-bottom: 1px solid var(--emphasis-color);
  display: flex;
  justify-content: space-between;
  p { 
    margin: 0;
  }
  .author-pres {
    flex-wrap: wrap;
    margin: 0 12px;
  }
  .author-img {
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    vertical-align: middle;
    width: 80px;
    height: 80px;
  }
  .author-info {
    p {
      padding-left: 102px;
    }
    a {
      color: var(--body-color);
      text-decoration: none;
      position: relative;
   }
    .intro {
      padding-left: 102px;
      letter-spacing: 0.077em;
      line-height: 18px;
      text-transform: uppercase;
      font-size: 13px;
      color: var(--discreet-color);
      margin-bottom: 6px;
    }
    h2.name {
      padding-left: 102px;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0px;
      margin: 0px;
    }
    .title {
      padding-left: 102px;
      font-size: 16px;
      letter-spacing: 0px;
      margin: 0px;
      color: var(--discreet-color);
    }
  }
  .author-desc {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    margin: 0 12px;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
    color: var(--discreet-color);
    opacity: 0.9;
  }
}

.recomm,
.recomm-link,
.image-container {
  opacity: 1;
}

.page-recomm {
  display: flex;
  gap: 4px;
  align-items: stretch;
  justify-content: center;

  .recomm {
    flex-basis: 25%;
    background: var(--inset-background);
    border-radius: 10px;
    color: var(--emphasis-color);

    &:hover {
        opacity: 1.2;
        .recomm-link,
        .image-container {
          opacity: 1;
        }
      }

    .recomm-link {
      display: flex;
      flex-direction: column;
      height: 100%;
      text-decoration: none;
      padding: 10px;

      h5 {
        font-weight: 800;
        text-align: left;
        text-decoration: none;
        color: var(--body-color);
        word-break: break-word;
        hyphens: auto;
        hyphenate-character: '-';
      }

      .image-container {
        flex-grow: 1;
        display: flex;
        align-items: flex-end;

        img {
          max-width: 100%;
          height: auto;
          vertical-align: bottom;
          border-radius: 10px;
          margin: 0 auto;
        }
      }
    }
  }
}

.page-footer-comment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 10px;
  margin: 50px 50px;
  border: 3px solid var(--discreet-color);
  border-radius: 5px;
}
