
.microlink_card {
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
  &:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2);
  }
}

a.card-preview.microlink_vanilla {
  &:after {
    background-color: #fbfbfb;
    content: "";
  }
}
