.search-container {
  max-width: 550px;
  margin: auto auto 0 auto;
}

.search-form {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
}

.search-icon {
  width: 50px;
  color: $discreet-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 100%;
  height: 50px;
  background: rgba(255,255,255,0.95);
  font-size: 1.1875rem;
  border-radius: 50px;
  color: $discreet-color;
  border-style: solid;
  border-color: $body-color;
  font-style: normal;
  padding-left: 40px;
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  overflow: visible;
  -webkit-appearance: none;
  vertical-align: middle;
  width: 100%;
  color: #666;
  &:focus {
    outline: none;
  }
}

.search-recomm {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: stretch;
  justify-content: center;

  .recomm,
  .recomm-link,
  .image-container {
    opacity: 1;
  }

  .recomm {
    flex-basis: 25%;
    background: $inset-backgroung;
    border-radius: 10px;
    color: $emphasis-color;

    .recomm-link {
      display: flex;
      flex-direction: column;
      height: 100%;
      text-decoration: none;
      padding: 10px;

      h5 {
        text-align: left;
        text-decoration: none;
        color: $body-color;
      }

      .image-container {
        flex-grow: 1;
        display: flex;
        align-items: flex-end;

        img {
          max-width: 100%;
          height: auto;
          vertical-align: bottom;
          border-radius: 10px;
          margin: 0 auto;
        }
      }
    }
  }
}