.blog-tags {
  width: 100%;
  background-color: $body-background;
  padding: 0 20px 20px;
  h1 {
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
    color: $body-color;
  }
  h2 {
    color: $body-color;
    margin: 10px 0;
  }
}

.tags {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    display: inline-block;
    margin: 5px;
    list-style: none;
  }
}

.tag-list {
  span {
    a {
      background: transparent;
      border: none;
      padding: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        opacity: .8;
      }
    }
  }
}

a.tag {
    color: $discreet-color;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
    border-radius: 0.375em;
    border: 1px solid $discreet-color;
    display: inline-flex;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    .number {
        background: $discreet-color;
        color: $body-background;
        text-align: center;
        border: none;
        border-radius: 9999px;
        display: inline-block;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 0.8em;
        height: 20px;
        max-height: 20px;
        max-width: 20px;
        min-height: 20px;
        min-width: 20px;
        outline: 0;
        position: relative;
        vertical-align: top;
        width: 20px;
        margin-left: 0.25rem;
        margin-right: -0.375rem;
    }
    &:hover {
      text-decoration: none;
      color: $body-background;
      background: $discreet-color;
      .number {
        background: $body-background;
        color: $discreet-color;
      }
    }
}
